---
http_interactions:
- request:
    method: post
    uri: https://api.dpd.ro/v1/shipment/info
    body:
      encoding: UTF-8
      string: '{"shipmentIds":["wrong"],"userName":"<DPD_USERNAME>","password":"<DPD_PASSWORD>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"context":"","message":"Barcode wrong not found"}}'
  recorded_at: Thu, 16 Jan 2020 13:43:13 GMT
recorded_with: VCR 5.0.0
